@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.para-styl {
    font-weight: 400px;
    font-size: 20px;
    color: #0D1321;

}

.hdline-styl {
    font-size: 26px;
    font-weight: bold;
}

.my-wish {
    margin-right: 97px;
    margin-bottom: 32px;
    margin-left: 97px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.pg-image {
    width: 280px;

}

.container_I {
    max-width: 477px;

}

.card_design {
    margin: 40px;
    border: 1px groove;
    border-radius: 10px;
    padding: 50px;

}

.html_bg {
    background-color: rgba(255, 76, 30, 0.05);
}

.css_bg {
    background-color: rgba(0, 76, 232, 0.05);
}

.js_bg {
    background-color: rgba(255, 223, 0, 0.05);
}

.learn_a {
    color: black;
    font-size: large;
}

article.my-wish_3 {
    display: flex;
    justify-content: flex-start;
    margin-right: 97px;
    margin-bottom: 32px;
    margin-left: 14px;
    background-color: white;
    border-radius: 5px;
    padding: none;
}

learn_btn {

    font-size: 30px;
    font-weight: bold;
}

common_card {}

c_1 {
    display: flex;
}