@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.para-styl {
    font-weight: 400px;
    font-size: 20px;
    color: #0D1321;

}

.hdline-styl {
    font-size: 26px;
    font-weight: bold;
}

.my-wish {
    margin-right: 97px;
    margin-bottom: 32px;
    margin-left: 97px;
    background-color: white;
    border-radius: 5px;
}

.pg-image {
    width: 280px;

}

.container_I {
    max-width: 477px;

}