.imp_dev {
    background-color: whitesmoke;
    margin: 74px 148px 90px 153px;
    border-width: 10px;
    /* text-align: center; */
    border-radius: 10px;


}

.part-1 {
    padding: 80px 150px 60px 150px;
    text-align: center;
}

.part-1-headline {
    font-size: 35px;
    font-weight: 800px;
}

.my-wish {}

/* .part-2 {
    margin: 48px;
} */

/* .article div {} */

.my_ins_art {
    text-align: center;
    background-color: white;
}

.my_ins_pg {}

.video_contain {
    margin: 48px 45px;
    border: 1px groove;
    border-radius: 10px;
    padding: 22px;
    text-align: center;


}

iframe {
    border-radius: 15px;
}

.my-wish {
    width: 1340;
}

.my_ins {
    background-color: white;
}

.my_target_art {
    text-align: center;
}

.my_target_container {
    display: flex;
    justify-content: space-around;

}

.card_img {
    margin-bottom: 10px;
}

.need_support {
    background-image: url("./images/handshake.jpg");
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

section.need_support h2 {
    color: white;
}

section.need_support p {
    color: white;
}

input[type="search"] {
    height: 56px;
    width: 550px;
    font-size: 20px;
    border-radius: 15px;
    margin-right: 10px;
}

input[type="submit"] {
    height: 56px;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
}

.description {
    text-align: center;
}


.web_dev {
    margin: 74px 152px 90px 148px;
    background-color: whitesmoke;
    padding-bottom: 15px;
    border-radius: 20px;

}

.web_child {
    margin: 97px 80px;
}

.raw_1_display {
    display: flex;
    gap: 560px;
}

.raw_1 {
    background-color: white;
    border: 1px solid groove;
    border-radius: 15px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 30px;
}

.raw_2_display {
    display: flex;
    gap: 40px;
}

.raw_3_display {
    display: flex;
    gap: 560px;
}

.learn_btn {
    font-size: 20px;
    border-radius: 2px;
    padding: 2px;
}